.popup-cupcake {
  padding: 55px 0;
  &__box {
    text-align: center;
    margin-bottom: 80px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    min-height: auto;
  }
  &__images {
    width: 756px;
    height: 340px;
    object-fit: cover;
    transition: transform 0.5s;
    cursor: pointer;
    &:hover {
      transform: rotateX(20deg);
    }
  }
  &__more {
    text-align: center;
    margin-top: 25px;
  }
  &__btn {
    @extend%сomfortaa-700;
    font-size: 20px;
    line-height: 25px;
    color: #fa7c7c;
    border-bottom: 1px solid #fa7c7c;
    transition: color 0.5s, border 0.5s;
    &:hover {
      color: #fc0707;
      border-bottom: 1px solid #fc0707;
    }
    &:active {
      color: #1f0202;
      border-bottom: 1px solid #1f0202;
    }
  }
  &__content {
    display: none;
    margin-top: 30px;
  }
}

img.mfp-img {
  max-width: 100%;
  width: 765px;
  height: 830px;
  object-fit: cover;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

.mfp-counter {
  font-size: 0;
  line-height: 0;
}

@media (max-width: 1200px) {
  .popup-cupcake__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 768px) {
  .popup-cupcake__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  img.mfp-img {
    height: 640px;
  }
}

@media (max-width: 576px) {
  .popup-cupcake {
    padding: 25px 0;
  }
  .popup-cupcake__box {
    margin-bottom: 40px;
  }
  .popup-cupcake__gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .popup-cupcake__images {
    height: auto;
  }
  img.mfp-img {
    height: 505px;
  }
}
