.video-cupcake {
  padding: 100px 0 80px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 667px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &__play {
    background-image: url("../images/section_4/video_fashion_play.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    animation: pulse 2s linear infinite;
    transition: all 0.5s;
    &:hover {
      background-color: #fc0707;
    }
    &:active {
      background-color: #800909;
    }
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(#f54848, 0.8), 0 0 0 0 rgba(#fc5d5c, 0.5);
  }
  40% {
    box-shadow: 0 0 0 70px rgba(201, 8, 95, 0), 0 0 0 30px rgba(201, 8, 95, 0);
  }
  80% {
    box-shadow: 0 0 0 70px rgba(201, 8, 95, 0), 0 0 0 30px rgba(201, 8, 95, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(201, 8, 95, 0), 0 0 0 40px rgba(201, 8, 95, 0);
  }
}

@media (max-width: 768px) {
  .video-cupcake {
    padding: 30px 0 50px;
  }
  .video-cupcake__item {
    min-height: 510px;
  }
}

@media (max-width: 640px) {
  .video-cupcake__item {
    min-height: 315px;
  }
}
