html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  @extend%сomfortaa-300;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

button:focus {
  outline-offset: 1px;
  outline-color: $title;
  outline-width: 1px;
}

a:focus {
  outline-offset: 1px;
  outline-color: $title;
  outline-width: 1px;
}

@media (max-width: 768px) {
  .animate__animated {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
