.btn {
  padding: 25px 85px;
  @extend%opensans-600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: $title;
  border-radius: 38px;
  top: 0;
  position: relative;
  transition: background 0.6s, color 0.6s, top 0.6s;
  &:focus {
    background-color: $accent;
  }
  &:hover {
    background-color: #fff;
    color: $accent;
    top: 2px;
  }
  &:active {
    background-color: #cec6c6;
    color: $accent;
  }
}
