.scroller {
  position: fixed;
  bottom: 30px;
  left: 20px;
  background: transparent url("../images/icon/arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
  display: none;
  &__arrow {
    display: block;
    width: 50px;
    height: 50px;
    color: #fd4d4d;
    stroke: #000;
  }
}

@media (max-width: 768px) {
  .scroller {
    &__arrow {
      width: 40px;
      height: 40px;
    }
  }
}
