.title {
  @extend%сomfortaa-700;
  font-size: 35px;
  line-height: 37px;
  color: #000;
  &__color {
    display: inline-block;
    color: $title;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 32px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 28px;
    line-height: 30px;
  }
}
